<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>BLOG</h1>
      <a id="newPostBtn" href="/create-post"> Create New Post</a>
      <ul id="postsList">
        <% posts.forEach(post => { %>

        <li>
          <h2><%= post.title %></h2>
          <small><%= post.date %></small>
          <p><%= post.content %></p>
          <small><%= post.author %></small>
          <a class="edit" href="/edit-post/<%= post.id  %>">Edit</a>
          <a class="delete" href="/api/posts/delete/<%= post.id %>">Delete</a>
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
